{:title "Lending library"
 :direction :tb
 :packages
 [{:id :domain
   :label "Domain"
   :crap {:mu 1.5 :max 4.0 :sigma 0.9}
   :classes
   [{:id :catalog
     :name "Catalog"
     :crap {:mu 1.2 :max 2.0 :sigma 0.4}
     :fields [{:name "books" :type "Book[]"}]
     :ops [{:name "find" :args ["isbn"] :returns "Book"}
           {:name "add" :args ["book"] :returns "Catalog"}]}
    {:id :book
     :name "Book"
     :crap {:mu 1.1 :max 1.0 :sigma 0.1}
     :fields [{:name "isbn" :type "String"}
              {:name "title" :type "String"}
              {:name "author" :type "Author"}]}
    {:id :author
     :name "Author"
     :crap {:mu 1.0 :max 1.0 :sigma 0.0}
     :fields [{:name "name" :type "String"}]}
    {:id :loan
     :name "Loan"
     :crap {:mu 1.8 :max 4.0 :sigma 1.0}
     :fields [{:name "book" :type "Book"}
              {:name "patron" :type "Patron"}
              {:name "due" :type "Date"}]
     :ops [{:name "overdue?" :returns "bool"}]}
    {:id :patron
     :name "Patron"
     :crap {:mu 1.4 :max 2.0 :sigma 0.5}
     :fields [{:name "id" :type "Id"}
              {:name "loans" :type "Loan[]"}]}]}
  {:id :app
   :label "Application"
   :crap {:mu 2.1 :max 6.0 :sigma 1.4}
   :classes
   [{:id :loan-service
     :name "LoanService"
     :crap {:mu 2.3 :max 6.0 :sigma 1.5}
     :ops [{:name "checkout" :args ["patron" "isbn"] :returns "Loan"}
           {:name "return" :args ["loan"] :returns "void"}]}
    {:id :search
     :name "Search"
     :crap {:mu 1.9 :max 3.0 :sigma 0.7}
     :ops [{:name "by-title" :args ["q"] :returns "Book[]"}]}
    {:id :repo
     :name "CatalogRepo"
     :stereotype :interface
     :crap {:mu 1.0 :max 1.0 :sigma 0.0}
     :ops [{:name "get" :args ["isbn"] :returns "Book"}
           {:name "save" :args ["book"] :returns "void"}]}]}
  {:id :adapters
   :label "Adapters"
   :crap {:mu 3.0 :max 7.0 :sigma 1.8}
   :classes
   [{:id :sql-repo
     :name "SqlCatalogRepo"
     :crap {:mu 3.2 :max 7.0 :sigma 1.9}
     :ops [{:name "get" :args ["isbn"] :returns "Book"}
           {:name "save" :args ["book"] :returns "void"}]}
    {:id :http-api
     :name "HttpApi"
     :crap {:mu 2.8 :max 5.0 :sigma 1.4}
     :ops [{:name "handle" :args ["request"] :returns "Response"}]}]}]
 :edges
 [{:from :loan :to :book :kind :association}
  {:from :loan :to :patron :kind :association}
  {:from :book :to :author :kind :association}
  {:from :catalog :to :book :kind :aggregation}
  {:from :patron :to :loan :kind :association}
  {:from :loan-service :to :catalog :kind :dependency}
  {:from :loan-service :to :loan :kind :dependency}
  {:from :search :to :catalog :kind :dependency}
  {:from :loan-service :to :repo :kind :dependency}
  {:from :sql-repo :to :repo :kind :implements}
  {:from :http-api :to :loan-service :kind :dependency}
  {:from :http-api :to :search :kind :dependency}]}
